scripts/sales/n8n-ai-sales-agent.json
{
  "name": "FSI Digital - Autonomous AI Sales Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-sales-agent",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "f1a2b3c4",
      "name": "Lead Intake (Webhook)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        200
      ],
      "notesInFlow": true,
      "notes": "Receives payloads from buyer-scraper.js"
    },
    {
      "parameters": {
        "fromEmail": "ashwani@fsidigital.ca",
        "toEmail": "={{$json['body']['email']}}",
        "subject": "Client referral / overflow capacity",
        "text": "Hi {{$json['body']['companyName']}} Team,\n\nMy name is Ashwani, Founder of FSI Digital (fsidigital.ca). We operate a programmatic SEO engine focused on Canadian government grants.\n\nI am currently generating over 100+ highly targeted, organic inbound leads per month from Canadian business owners looking for government grant consulting services. My firm does not provide consulting services; we are purely a technology and lead-generation company.\n\nWe are looking for a single, premium consulting partner to absorb our lead volume. \n\nBefore discussing any pricing or revenue share, I would like to send you my next 5 exclusive leads completely for free so your sales team can verify the quality and intent.\n\nIf you are interested in taking 5 free prospect introductions this week, let me know who the best person to speak with is.\n\nBest regards,\nAshwani\nFounder, FSI Digital\nEmail: ashwani@fsidigital.ca\nWebsite: fsidigital.ca"
      },
      "id": "d4c3b2a1",
      "name": "Send Initial Cold Email (Zoho SMTP)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        500,
        200
      ],
      "credentials": {
        "smtp": {
          "id": "zoho-smtp",
          "name": "Zoho Mail Account"
        }
      }
    },
    {
      "parameters": {
        "postProcessAction": "nothing",
        "format": "resolved"
      },
      "id": "e5f6g7h8",
      "name": "Listen for Replies (Zoho IMAP)",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 1,
      "position": [
        200,
        500
      ],
      "notesInFlow": true,
      "notes": "Triggers when a buyer replies to your email"
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4-turbo",
        "systemMessage": "You are an elite Sales Development Representative for FSI Digital. Your job is to read replies from Accounting Firms who were offered 5 free leads. If they ask questions, answer professionally indicating we generate organic SBA/Canada grant leads via programmatic SEO. If they haggle on price for future leads, strictly anchor them to $50 per lead or a 10% lifetime revenue share. If they agree, output a JSON confirming the deal is 'Closed-Won'.",
        "prompt": "Here is the client's reply to our email: {{$json['textPlain']}}\n\nDetermine the state of the deal and draft a response or output the final JSON payload to send them the Stripe/PayPal agreement."
      },
      "id": "i9j0k1l2",
      "name": "AI Negotiator Brain (OpenAI)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        500,
        500
      ],
      "credentials": {
        "openAiApi": {
          "id": "openai-key",
          "name": "OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.paypal.com/v1/invoicing/invoices",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "paypalApi"
      },
      "id": "p3q4r5s6",
      "name": "Draft PayPal Advance Invoice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        800,
        500
      ],
      "notesInFlow": true,
      "notes": "Action triggers only if AI determines deals is Closed-Won"
    }
  ],
  "connections": {
    "Lead Intake (Webhook)": {
      "main": [
        [
          {
            "node": "Send Initial Cold Email (Zoho SMTP)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listen for Replies (Zoho IMAP)": {
      "main": [
        [
          {
            "node": "AI Negotiator Brain (OpenAI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Negotiator Brain (OpenAI)": {
      "main": [
        [
          {
            "node": "Draft PayPal Advance Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "timezone": "America/Toronto"
  }
}